@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'), url('fonts/RobotoRegular.ttf') format('truetype'), url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@media (min-width: 0px) and (max-width: 320px) {
  .menu_xs .dropdown-toggle {
    background-color: #ffffff !important;
    margin-top: 10px;
  }
  .menu_xs .dropdown-menu a {
    font-size: 16px;
  }
  .menu_xs .dropdown-menu a:hover {
    color: #d8047e;
  }
  .menu_xs .logo_xs {
    margin-top: 10px;
  }
  .menu_xs .menu_xs_row {
    background-color: #ff0072;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 25px;
  }
  .content_1 {
    margin-top: 40px;
  }
  .content_1 h1 {
    margin-bottom: 15px;
  }
  .content_1 h2,
  .content_1 h3 {
    text-align: center;
  }
  .content_1 h2 {
    margin-top: 10px;
  }
  .content_2 {
    margin-top: 5px;
    padding-bottom: 15px;
  }
  .content_2 h3 {
    margin-bottom: 10px;
  }
  .content_2 h1 {
    margin-bottom: 10px;
  }
  .content_2 img {
    margin: auto;
  }
  .content_2 h3 {
    text-align: center;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 90%;
  }
  .content_3_xs .p_5 {
    padding-top: 15px;
  }
  .content_4_xs p {
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 1px 14px -5px #807080;
    -moz-box-shadow: 1px 1px 14px -5px #807080;
    box-shadow: 1px 1px 14px -5px #807080;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
  }
  .content_5 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_5 p {
    text-align: center;
  }
  .content_5 h1 {
    margin-bottom: 5px;
    margin-top: 0;
  }
  .content_5 h2 {
    margin-bottom: 0px;
  }
  .content_7 {
    margin-top: 10px;
  }
  .content_7 .design_xs p {
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
  }
  .content_7 .want_card {
    width: 90%;
    margin-top: 15px;
  }
  footer {
    text-align: center;
    background-size: cover;
  }
  footer ul {
    padding: 0;
    padding-top: 15px;
    margin: auto;
  }
  footer .logo_footer {
    padding-top: 25px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer h4 {
    padding-top: 20px;
  }
  footer p,
  footer h4 {
    margin: auto;
  }
  footer .icon_footer_1 {
    padding-left: 15px;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-top: 10px;
    padding-left: 0;
  }
  .content_7 .dropdown {
    width: 100% ;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  h1 {
    font-size: 27px;
  }
  .menu_xs .dropdown-toggle {
    background-color: #ffffff !important;
    margin-top: 20px;
    padding: 20px 50px;
  }
  .menu_xs .dropdown-menu a {
    font-size: 20px;
  }
  .menu_xs .dropdown-menu a:hover {
    color: #d8047e;
  }
  .menu_xs .logo_xs {
    margin-top: 10px;
    padding-left: 50px;
  }
  .menu_xs .menu_xs_row {
    background-color: #ff0072;
    padding-bottom: 10px;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 90%;
  }
  .content_1 {
    margin-top: 20px;
  }
  .content_1 h1 {
    margin-bottom: 15px;
  }
  .content_1 h2,
  .content_1 h3 {
    text-align: center;
  }
  .content_1 h2 {
    margin-top: 10px;
  }
  .content_1 img {
    margin: auto;
  }
  .content_2 {
    margin-top: 5px;
    padding-bottom: 15px;
  }
  .content_2 h3 {
    margin-bottom: 10px;
  }
  .content_2 h1 {
    margin-bottom: 10px;
  }
  .content_2 img {
    margin: auto;
  }
  .content_2 h3 {
    text-align: center;
  }
  .content_3_xs .p_5 {
    padding-top: 15px;
  }
  .content_3_xs img {
    margin: auto;
  }
  .content_4_xs p {
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 1px 14px -5px #807080;
    -moz-box-shadow: 1px 1px 14px -5px #807080;
    box-shadow: 1px 1px 14px -5px #807080;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
  }
  .content_5 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_5 p {
    text-align: center;
  }
  .content_5 h1 {
    waamargin-bottom: 5px;
    margin-top: 0;
  }
  .content_5 h2 {
    margin-bottom: 0px;
  }
  .content_7 .dropdown {
    width: 100% ;
    margin: 0;
    padding: 0;
  }
  .content_7 .design_xs p {
    font-family: 'RobotoRegular';
    font-size: 20px;
  }
  .content_7 {
    margin-top: 10px;
  }
  .content_7 .design_xs p {
    text-align: center;
    padding-top: 8px;
  }
  .content_7 .want_card {
    width: 90%;
    margin-top: 15px;
  }
  footer {
    text-align: center;
    background-size: cover;
  }
  footer ul {
    padding: 0;
    padding-top: 15px;
    margin: auto;
  }
  footer .logo_footer {
    padding-top: 25px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer h4 {
    padding-top: 20px;
  }
  footer p,
  footer h4 {
    margin: auto;
  }
  footer .icon_footer_1 {
    padding-left: 15px;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-top: 10px;
    padding-left: 0;
  }
  .icon_footer {
    padding-left: 30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .menu_xs .dropdown-toggle {
    background-color: #ffffff !important;
    margin-top: 20px;
    padding: 20px 50px;
  }
  .menu_xs .dropdown-menu a {
    font-size: 20px;
  }
  .menu_xs .dropdown-menu a:hover {
    color: #d8047e;
  }
  .menu_xs .logo_xs {
    margin-top: 10px;
    padding-left: 50px;
  }
  .menu_xs .menu_xs_row {
    background-color: #ff0072;
    padding-bottom: 10px;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 90%;
    margin-left: 5%;
  }
  .content_1 {
    margin-top: 20px;
  }
  .content_1 h1 {
    margin-bottom: 15px;
  }
  .content_1 h2,
  .content_1 h3 {
    text-align: center;
  }
  .content_1 h2 {
    margin-top: 10px;
  }
  .content_1 img {
    margin: auto;
  }
  .content_2 {
    margin-top: 5px;
    padding-bottom: 15px;
  }
  .content_2 h3 {
    margin-bottom: 10px;
  }
  .content_2 h1 {
    margin-bottom: 10px;
  }
  .content_2 h3 {
    text-align: center;
  }
  .content_2 img {
    margin: auto;
  }
  .content_3_xs .p_5 {
    padding-top: 15px;
  }
  .content_3_xs img {
    margin: auto;
  }
  .content_4_xs p {
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 1px 14px -5px #807080;
    -moz-box-shadow: 1px 1px 14px -5px #807080;
    box-shadow: 1px 1px 14px -5px #807080;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
  }
  .content_5 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_5 p {
    text-align: center;
  }
  .content_5 h1 {
    waamargin-bottom: 5px;
    margin-top: 0;
  }
  .content_5 h2 {
    margin-bottom: 0px;
  }
  .content_7 .dropdown {
    width: 100% ;
  }
  .content_7 {
    margin-top: 10px;
  }
  .content_7 .design_xs p {
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
  }
  .content_7 .want_card {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
  }
  footer {
    text-align: center;
    background-size: cover;
  }
  footer ul {
    padding: 0;
    padding-top: 15px;
    margin: auto;
  }
  footer .logo_footer {
    padding-top: 25px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer h4 {
    padding-top: 20px;
  }
  footer p,
  footer h4 {
    margin: auto;
  }
  footer .icon_footer_1 {
    padding-left: 15px;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-top: 10px;
    padding-left: 0;
  }
  .icon_footer {
    padding-left: 15%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    padding-bottom: 50px;
    background: url(../img/header_bg.png) no-repeat;
    background-size: cover;
  }
  header .logotype {
    margin-top: 35px;
  }
  header .menu {
    margin-top: 25px;
    font-size: 12px;
    text-transform: uppercase;
  }
  header .menu a {
    margin-left: 2px;
    padding-bottom: 15px;
    margin-top: 0px;
  }
  header .menu a:hover {
    padding-bottom: 5px;
    border-bottom: 8px solid #454141;
    -moz-transition: all  0.1s 0.02s ease;
    -o-transition: all  0.1s 0.02s ease;
    -webkit-transition: all 0.1s 0.02s ease;
  }
  header .phone_number {
    margin-top: 15px;
  }
  header .phone_number button {
    border: none;
    border-radius: 20px;
    background: #e20467;
    color: #ffffff;
    width: 190px;
    height: 40px;
  }
  header .phone_number button:hover {
    -webkit-box-shadow: 0px 10px 51px 14px #b3a8b3;
    -moz-box-shadow: 0px 10px 51px 14px #b3a8b3;
    box-shadow: 0px 10px 51px 14px #b3a8b3;
  }
  header .phone_number .phone:before {
    content: '';
    width: 17px;
    height: 25px;
    background: url(../img/ic_phone.png) no-repeat center top 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.7em;
  }
  header button img {
    display: none;
  }
  header button:hover img {
    display: block;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
  }
  .content_2 .submit_with_action {
    margin-top: 20px;
  }
  .content_4 .col-md-12 {
    padding: 0;
  }
  .content_4 .order_card li {
    margin-top: 20px;
    padding: 2px;
  }
  .content_4 .order_card li:nth-child(2),
  .content_4 .order_card li:nth-child(3),
  .content_4 .order_card li:nth-child(4) {
    padding-top: 24px;
    margin-top: 0;
  }
  .content_4 button {
    margin-top: 10px;
    margin-left: 295px;
  }
  .content_5 h1 {
    margin-top: 20px;
  }
  .content_5 h1,
  .content_5 h2 {
    margin-bottom: 10px;
  }
  .content_5 img {
    margin-top: 40px;
  }
  .content_7 .dropdown {
    width: 100% ;
  }
  .content_6 {
    margin-bottom: 10px;
  }
  .content_7 .forms_get_card {
    padding-top: 20px;
  }
  .content_7 .want_card {
    width: 98%;
    margin-top: 20px;
  }
  .content_7 .design {
    font-family: 'RobotoRegular';
    font-size: 25px;
    margin-top: 260px;
    margin-left: 190px;
  }
  footer {
    background: url('../img/footer_bg.png') no-repeat center top;
    background-size: cover;
  }
  footer .logo_footer {
    padding-left: 0;
  }
  footer .icon_footer_1 {
    padding-left: 0;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-left: 0;
    padding-top: 50px;
  }
  footer ul {
    padding-left: 0;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 100%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  header {
    /*.menu {
    a {margin-left: 10px; padding-bottom: 15px;
    }
    a:last-child{
		padding-bottom: 0px;
    	    } 

margin-top: 55px;
 font-size: 12px;
  text-transform: uppercase; 
a:hover {
	padding-bottom: 5px;
    border-bottom:8px solid #454141;
    -moz-transition: all  0.1s 0.02s ease;
    -o-transition: all  0.1s 0.02s ease;
    -webkit-transition: all 0.1s 0.02s ease;
}
} */
  }
  header .menu {
    margin-top: 35px;
    font-size: 12px;
    text-transform: uppercase;
  }
  header .menu a {
    margin-left: 2px;
    padding-bottom: 15px;
    margin-top: 25px;
  }
  header .menu a:hover {
    padding-bottom: 5px;
    border-bottom: 8px solid #454141;
    -moz-transition: all  0.1s 0.02s ease;
    -o-transition: all  0.1s 0.02s ease;
    -webkit-transition: all 0.1s 0.02s ease;
  }
  .content_2 .arrow {
    position: absolute;
    top: 60px ;
  }
  .content_3 .card_main {
    position: absolute;
    left: 6px;
  }
  .content_3 .line_4,
  .content_3 .line_4c,
  .content_3 .line_8,
  .content_3 .line_8c {
    top: -20px;
  }
  .content_3 .p_4,
  .content_3 .p_8 {
    top: 20px;
    position: absolute;
  }
  .content_4 button {
    margin-left: 7px;
  }
  .content_4 li:last-child {
    margin-top: 10px;
  }
  .content_5 h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content_5 h2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .content_7 .design {
    margin-top: 100px;
    left: 66px;
  }
  .content_7 .img_arrow {
    padding-left: 435px;
  }
  footer {
    background: url('../img/footer_bg.png') no-repeat center top;
    background-size: cover;
  }
  .forms_get_accsses button {
    width: 230px;
  }
}
