/*============    ШРИФТИ    ===========*/
@font-face {
  font-family: 'PantonBlackCaps';
  src: url('fonts/PantonBlackCaps.eot');
  src: url('fonts/PantonBlackCaps.eot') format('embedded-opentype'), url('fonts/PantonBlackCaps.woff2') format('woff2'), url('fonts/PantonBlackCaps.woff') format('woff'), url('fonts/PantonBlackCaps.ttf') format('truetype'), url('fonts/PantonBlackCaps.svg#PantonBlackCaps') format('svg');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('fonts/RobotoBold.eot');
  src: url('fonts/RobotoBold.eot') format('embedded-opentype'), url('fonts/RobotoBold.woff2') format('woff2'), url('fonts/RobotoBold.woff') format('woff'), url('fonts/RobotoBold.ttf') format('truetype'), url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'), url('fonts/RobotoRegular.ttf') format('truetype'), url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
.bold {
  font-family: "RobotoBold";
}
.reg {
  font-family: 'RobotoRegular';
}
.black {
  font-family: 'PantonBlackCaps';
}
/*==================================================================================================================*/
/*============    Базові настройки   ===========*/
.maps_description {
  font-family: 'RobotoRegular';
  font-size: 14px;
  color: #333333;
}
.content-container {
  margin-top: 10px;
  width: 100%;
  height: 289px;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
}
.container {
  max-width: 940px;
}
a:hover,
a:link,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: #333333;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'PantonBlackCaps';
  font-size: 36px;
  line-height: 1.2;
}
h1 span {
  color: #e9066b;
}
h2 {
  font-family: "RobotoBold";
  font-size: 24px;
}
h3 {
  font-family: 'RobotoRegular';
  font-size: 18px;
  line-height: 1.5;
}
h3 span {
  font-family: "RobotoBold";
}
.forms,
p {
  font-family: 'RobotoRegular';
  font-size: 14px;
}
.forms span,
p span {
  font-family: "RobotoBold";
}
.problem,
.design {
  font-family: 'RobotoRegular';
  font-size: 16px;
}
.problem span,
.design span {
  font-family: "RobotoBold";
}
a {
  display: inline-block;
}
.nicescroll-cursors {
  width: 10px !important;
}
/*=================================================================================================*/
/*============    ШАПКА   ===========*/
header {
  padding-bottom: 50px;
  background: url(../img/header_bg.png) no-repeat;
  background-size: cover;
}
header .logotype {
  margin-top: 35px;
}
header .menu {
  margin-top: 65px;
  font-family: 'RobotoRegular';
  font-size: 12px;
  text-transform: uppercase;
}
header .menu a {
  margin-left: 5px;
  padding-bottom: 15px;
}
header .menu a:hover {
  border-bottom: 8px solid #454141;
  -moz-transition: all  0.1s 0.02s ease;
  -o-transition: all  0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
}
header .phone_number {
  margin-top: 15px;
}
header .phone_number button {
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  background: #e20467;
  color: #ffffff;
  width: 190px;
  height: 40px;
}
header .phone_number button:hover {
  -webkit-box-shadow: 0px 10px 51px 14px #b3a8b3;
  -moz-box-shadow: 0px 10px 51px 14px #b3a8b3;
  box-shadow: 0px 10px 51px 14px #b3a8b3;
  -moz-transition: all  0.5s 0.02s ease;
  -o-transition: all  0.5s 0.02s ease;
  -webkit-transition: all 0.5s 0.02s ease;
}
header .phone_number .phone {
  margin-top: 10px;
  font-family: 'RobotoRegular';
  font-size: 18px;
}
header .phone_number .phone:before {
  content: '';
  width: 17px;
  height: 25px;
  background: url(../img/ic_phone.png) no-repeat center top 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
header button img {
  display: none;
}
header button:hover img {
  display: block;
  position: absolute;
  padding-top: 5px;
  padding-left: 1px;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-1  ===========*/
.content_1 {
  margin-top: 70px;
}
.content_1 h1 {
  margin-bottom: 70px;
  margin-top: 0;
}
.content_1 h2 {
  margin-top: 0;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-2  ===========*/
.content_2 {
  margin-top: 70px;
  margin-bottom: 50px;
}
.content_2 .arrow {
  position: absolute;
  left: 288px;
  top: 190px;
}
.content_2 h1 {
  margin-bottom: 50px;
}
/*===================================================================================================================*/
/*===================================================================================================================*/
/*============    ФОРМЫ ДЛЯ ПОЛУЧЕНИЯ ДОСТУПА  ===========*/
.forms_get_accsses input[name="name_accsses"],
.forms_get_accsses input[name="phone_accsses"],
.forms_get_accsses input[name="email_accsses"] {
  border: none;
  border-radius: 0;
  padding: 25px 20px 25px 37px;
  opacity: 0.6;
  border-bottom: 2px solid #cccccc;
}
.forms_get_accsses input[name="name_accsses"]:required:valid,
.forms_get_accsses input[name="phone_accsses"]:required:valid,
.forms_get_accsses input[name="email_accsses"]:required:valid {
  border: none;
  border-bottom: 2px solid #d8047e;
  -moz-border-image: url(../img/border_form.png) 0 0 2 stretch;
  -webkit-border-image: url(../img/border_form.png) 0 0 2 stretch;
  -o-border-image: url(../img/border_form.png) 0 0 2 stretch;
  border-image: url(../img/border_form.png) 0 0 2 stretch;
  -moz-transition: all 0.1s 0.02s ease;
  -o-transition: all 0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
}
.forms_get_accsses input[name="phone_accsses"] {
  background: url("../img/phone_not_active.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="email_accsses"] {
  background: url("../img/email_not_active.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="name_accsses"] {
  background: url("../img/name_not_active.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="name_accsses"]:required:valid {
  background: url("../img/icon_check.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="phone_accsses"]:required:valid {
  background: url("../img/icon_check.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="email_accsses"]:required:valid {
  background: url("../img/icon_check.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="name_accsses"]:focus {
  background: url("../img/name.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="phone_accsses"]:focus {
  background: url("../img/phone_active.png") no-repeat center left 3px;
}
.forms_get_accsses input[name="email_accsses"]:focus {
  background: url("../img/email_active.png") no-repeat center left 3px;
}
.forms_get_accsses button {
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  background: #e20467;
  color: #ffffff;
  width: 250px;
  height: 50px;
}
.forms_get_accsses button:hover {
  -webkit-box-shadow: 0px 10px 51px 14px #b3a8b3;
  -moz-box-shadow: 0px 10px 51px 14px #b3a8b3;
  box-shadow: 0px 10px 51px 14px #b3a8b3;
}
.forms_get_accsses button img {
  display: none;
}
.forms_get_accsses button:hover img {
  display: block;
  position: absolute;
  padding-top: 5px;
  padding-left: 25px;
}
/*===================================================================================================================*/
/*===================================================================================================================*/
/*============   ========== ФОРМИ ДЛЯ ЗАКАЗА ПЕРСОНАЛЬНОЙ КАРТЫ ======================================== ===========*/
.forms_get_card input[name="name_card"],
.forms_get_card input[name="phone_card"],
.forms_get_card input[name="email_card"],
.forms_get_card input[name="surname_card"],
.forms_get_card input[name="data_card"],
.forms_get_card input[name="promo_card"],
.forms_get_card select[name="choose"] {
  border: none;
  border-radius: 0;
  padding: 25px 20px 25px 37px;
  opacity: 0.6;
  border-bottom: 2px solid #cccccc;
}
.forms_get_card input[name="name_card"]:required:valid,
.forms_get_card input[name="phone_card"]:required:valid,
.forms_get_card input[name="email_card"]:required:valid,
.forms_get_card input[name="surname_card"]:required:valid,
.forms_get_card input[name="data_card"]:required:valid,
.forms_get_card input[name="promo_card"]:required:valid,
.forms_get_card select[name="choose"]:required:valid {
  border: none;
  border-bottom: 2px solid #d8047e;
  -moz-border-image: url(../img/border_form.png) 0 0 2 stretch;
  -webkit-border-image: url(../img/border_form.png) 0 0 2 stretch;
  -o-border-image: url(../img/border_form.png) 0 0 2 stretch;
  border-image: url(../img/border_form.png) 0 0 2 stretch;
  -moz-transition: all 0.1s 0.02s ease;
  -o-transition: all 0.1s 0.02s ease;
  -webkit-transition: all 0.1s 0.02s ease;
}
.forms_get_card select[name="choose"]:required:valid {
  background: url("../img/icon_check.png") no-repeat center left 9px;
}
.forms_get_card input[name="name_card"] {
  background: url("../img/name_not_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="surname_card"] {
  background: url("../img/name_not_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="email_card"] {
  background: url("../img/email_not_active1.png") no-repeat center left 9px;
}
.forms_get_card input[name="phone_card"] {
  background: url("../img/phone_not_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="data_card"] {
  background: url("../img/data_not_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="promo_card"] {
  background: url("../img/code_not_active.png") no-repeat center left 9px;
}
.forms_get_card select[name="choose"] {
  background: url("../img/payment_not_active.png") no-repeat center left 9px;
  color: #454141;
}
.forms_get_card input[name="name_card"]:focus {
  background: url("../img/name.png") no-repeat center left 9px;
}
.forms_get_card input[name="phone_card"]:focus {
  background: url("../img/phone_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="email_card"]:focus {
  background: url("../img/email_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="surname_card"]:focus {
  background: url("../img/name.png") no-repeat center left 9px;
}
.forms_get_card input[name="data_card"]:focus {
  background: url("../img/data_active.png") no-repeat center left 9px;
}
.forms_get_card input[name="promo_card"]:focus {
  background: url("../img/code_active.png") no-repeat center left 9px;
}
.forms_get_card select[name="choose"]:focus,
.forms_get_card select[name="choose"]:hover {
  background: url("../img/payment.png") no-repeat center left 9px;
}
.forms_get_card input[name="name_card"]:required:valid,
.forms_get_card input[name="email_card"]:required:valid,
.forms_get_card input[name="surname_card"]:required:valid,
.forms_get_card input[name="data_card"]:required:valid,
.forms_get_card input[name="promo_card"]:required:valid,
.forms_get_card input[name="phone_card"]:required:valid {
  background: url(../img/icon_check.png) no-repeat center left 9px;
}
.forms_get_card .choose_payment_card {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 15px 20px 15px 37px !important;
  opacity: 0.6;
  border-bottom: 2px solid #cccccc;
}
.forms_get_card label {
  width: 26px;
  /* Ширина рисунка */
  height: 22px;
  /* Высота рисунка */
  display: inline-block;
  /* Блочный элемент */
  position: relative;
  /* Относительное позиционирование */
}
.forms_get_card .label_2 {
  margin-left: 100px;
}
.forms_get_card input[type="checkbox"] + span {
  position: absolute;
  /* Абсолютное позиционирование */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/checkbox_not_active.png) no-repeat;
  /* Фоновый рисунок */
  cursor: pointer;
  /* Курсор в виде руки */
  padding-left: 35px;
  font-family: 'RobotoRegular';
  color: #cccccc;
}
.forms_get_card input[type="checkbox"]:checked + span {
  background: url(../img/checkbox_active.png) no-repeat;
  /* Фоновый рисунок */
}
.forms_get_card input[type="checkbox"] {
  display: none;
}
.form-control_1 {
  width: 100%;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-3  ===========*/
.content_3 {
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
}
.content_3 h1 {
  margin-bottom: 50px;
}
.content_3 p {
  color: #a19999;
}
.content_3 .p_2,
.content_3 .p_3 {
  margin-right: 10px;
}
.content_3 .p_5,
.content_3 .p_8 {
  position: absolute;
  left: 5px;
}
.content_3 .p_6,
.content_3 .p_7 {
  position: absolute;
  left: 35px;
}
.content_3 .p_7 {
  position: absolute;
  top: 50px;
}
.content_3 .line1 {
  top: 25px;
}
.content_3 .line_1,
.content_3 .line_1c,
.content_3 .line_4,
.content_3 .line_4c {
  left: 20px;
  position: absolute;
  top: 1px;
}
.content_3 .line_4,
.content_3 .line_4c {
  top: -50px;
}
.content_3 .line_8,
.content_3 .line_8c {
  position: absolute;
  right: 25px;
  top: -50px;
}
.content_3 .line_5,
.content_3 .line_5c {
  position: absolute;
  right: 25px;
  top: 1px;
}
.content_3 .line_1c,
.content_3 .line_2c,
.content_3 .line_3c,
.content_3 .line_4c,
.content_3 .line_5c,
.content_3 .line_6c,
.content_3 .line_7c,
.content_3 .line_8c {
  opacity: 0;
}
.content_3 .b1:hover .p_1 {
  color: #454141;
}
.content_3 .b1:hover .line_1c {
  opacity: 1;
}
.content_3 .b2:hover .p_2 {
  color: #454141;
}
.content_3 .b2:hover .line_2c {
  opacity: 1;
}
.content_3 .b3:hover .p_3 {
  color: #454141;
}
.content_3 .b3:hover .line_3c {
  opacity: 1;
}
.content_3 .b4:hover .p_4 {
  color: #454141;
}
.content_3 .b4:hover .line_4c {
  opacity: 1;
}
.content_3 .b5:hover .p_5 {
  color: #454141;
}
.content_3 .b5:hover .line_5c {
  opacity: 1;
}
.content_3 .b6:hover .p_6 {
  color: #454141;
}
.content_3 .b6:hover .line_6c {
  opacity: 1;
}
.content_3 .b7:hover .p_7 {
  color: #454141;
}
.content_3 .b7:hover .line_7c {
  opacity: 1;
}
.content_3 .b8:hover .p_8 {
  color: #454141;
}
.content_3 .b8:hover .line_8c {
  opacity: 1;
}
.content_3 .line_2,
.content_3 .line_2c,
.content_3 .line_3,
.content_3 .line_3c {
  position: absolute;
  right: -315px;
  top: -35px;
}
.content_3 .line_6,
.content_3 .line_6c {
  top: 12px;
}
.content_3 .line_6,
.content_3 .line_6c,
.content_3 .line_7,
.content_3 .line_7c {
  position: absolute;
  right: -25px;
}
.content_3 .line_7,
.content_3 .line_7c {
  position: absolute;
  top: 62px;
}
.content_3 .b2,
.content_3 .b3,
.content_3 .b6,
.content_3 .b7 {
  margin-top: 40px;
  margin-left: -60px;
}
.content_3 .b4,
.content_3 .b8 {
  margin-top: 40px;
}
.content_3 .card_05 {
  margin-top: 15px;
}
.content_3 h2 {
  margin-top: 40px;
}
.content_3 .col_red {
  color: #e9066b;
  border-bottom: 2px solid #e9066b;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-4  ===========*/
.content_4 {
  margin-top: 140px;
  margin-bottom: 70px;
}
.content_4 h1 {
  margin-bottom: 70px;
}
.content_4 .order_img li {
  vertical-align: middle;
}
.content_4 ul {
  margin-bottom: 0;
}
.content_4 .order_card li {
  text-align: center;
  margin-right: 1px;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 1px 1px 14px -5px #807080;
  -moz-box-shadow: 1px 1px 14px -5px #807080;
  box-shadow: 1px 1px 14px -5px #807080;
  padding: 25px 15px 50px 15px;
  border-radius: 10px;
}
.content_4 .order_card li:first-child,
.content_4 .order_card li:last-child {
  padding-top: 5px;
}
.content_4 button {
  margin-left: 10px;
  position: absolute;
  margin-top: -20px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  background: #e20467;
  color: #ffffff;
  width: 190px;
  height: 40px;
}
.content_4 button img {
  display: none;
}
.content_4 button:hover {
  -webkit-box-shadow: 0px 10px 51px 14px #b3a8b3;
  -moz-box-shadow: 0px 10px 51px 14px #b3a8b3;
  box-shadow: 0px 10px 51px 14px #b3a8b3;
}
.content_4 button:hover img {
  display: block;
  position: absolute;
  padding-top: 5px;
  padding-left: 4px;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-5  ===========*/
.content_5 {
  margin-top: 70px;
  margin-bottom: 50px;
}
.content_5 h1,
.content_5 h2 {
  margin-bottom: 50px;
}
.content_5 .return1 {
  margin-top: 50px;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-6  ===========*/
.content_6 {
  margin-top: 70px;
  margin-bottom: 50px;
}
.content_6 h1 {
  margin-bottom: 50px;
}
.content_6 p {
  position: absolute;
  margin-top: -110px;
  margin-left: 100px;
}
.content_6 img {
  margin-bottom: 15px;
}
.content_6 .numder_1 {
  font-family: 'PantonBlackCaps';
  font-size: 82px;
  color: #ffffff;
  position: absolute;
  margin-top: -143px;
  margin-left: -18px;
}
/*===================================================================================================================*/
/*============    КОНТЕНТ-7  ===========*/
.content_7 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.content_7 h1 {
  margin-bottom: 30px;
}
.content_7 button {
  width: 340px;
  margin-top: 50px;
}
.content_7 .img_arrow {
  padding-left: 435px;
  padding-bottom: 30px;
}
.content_7 button {
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  background: #e20467;
  color: #ffffff;
  width: 333px;
  height: 50px;
}
.content_7 button:hover {
  -webkit-box-shadow: 0px 10px 51px 14px #b3a8b3;
  -moz-box-shadow: 0px 10px 51px 14px #b3a8b3;
  box-shadow: 0px 10px 51px 14px #b3a8b3;
}
.content_7 .design {
  position: absolute;
  top: 190px;
  left: 60px;
}
.content_7 button img {
  display: none;
}
.content_7 button:hover img {
  display: block;
  position: absolute;
  padding-top: 5px;
  padding-left: 30px;
}
/*==============================ПІДВАЛ======================================================*/
footer {
  padding-bottom: 0;
  background: url('../img/footer_bg.png') no-repeat center top;
  background-size: auto;
}
footer .logo_footer {
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 50px;
}
footer h4 {
  font-family: "RobotoBold";
  font-size: 15px;
  color: #FFFFFf;
  padding-top: 60px;
  padding-bottom: 15px;
}
footer p {
  font-family: 'RobotoRegular';
  font-size: 14px;
  color: #999999;
}
footer .icon_footer {
  padding-top: 15px;
  padding-right: 10px;
}
footer .icon_footer_1 {
  padding-left: 50px;
}
footer .copyright {
  padding-top: 80px;
  padding-left: 55px;
}
footer .cosmoweb {
  padding-top: 60px;
  padding-left: 20px;
}
footer ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-top: 10px;
}
footer ul li {
  display: inline-block;
}
footer ul li .icon_footer_1 {
  padding: 15px;
  background: url("../img/footer_facebook.png") no-repeat center center;
}
footer ul li .icon_footer_1:hover {
  background: url("../img/footer_facebook_active_1.png") no-repeat center center;
}
footer ul li .icon_footer_2 {
  padding: 15px;
  background: url("../img/footer_vk.png") no-repeat center center;
}
footer ul li .icon_footer_2:hover {
  background: url("../img/footer_vk_active_1.png") no-repeat center center;
}
footer ul li .icon_footer_4 {
  padding: 15px;
  background: url("../img/insta_not_active_1.png") no-repeat center center;
}
footer ul li .icon_footer_4:hover {
  background: url("../img/footer_insta.png") no-repeat center center;
}
footer ul li .icon_footer_3 {
  padding: 15px;
  background: url("../img/footer_youtube.png") no-repeat center center;
}
footer ul li .icon_footer_3:hover {
  background: url("../img/footer_youtube_active3.png") no-repeat center center;
}
.map .container {
  padding: 0;
  margin: 0;
}
body {
  background: url('../img/bg_bg_bg_3.png') no-repeat center top 0px;
  background-size: cover;
}
.dropdown-toggle {
  border: 2px solid black;
  padding: 18px;
  margin: 0;
  border-radius: 5px;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'), url('fonts/RobotoRegular.ttf') format('truetype'), url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@media (min-width: 0px) and (max-width: 320px) {
  .menu_xs .dropdown-toggle {
    background-color: #ffffff !important;
    margin-top: 10px;
  }
  .menu_xs .dropdown-menu a {
    font-size: 16px;
  }
  .menu_xs .dropdown-menu a:hover {
    color: #d8047e;
  }
  .menu_xs .logo_xs {
    margin-top: 10px;
  }
  .menu_xs .menu_xs_row {
    background-color: #ff0072;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 25px;
  }
  .content_1 {
    margin-top: 40px;
  }
  .content_1 h1 {
    margin-bottom: 15px;
  }
  .content_1 h2,
  .content_1 h3 {
    text-align: center;
  }
  .content_1 h2 {
    margin-top: 10px;
  }
  .content_2 {
    margin-top: 5px;
    padding-bottom: 15px;
  }
  .content_2 h3 {
    margin-bottom: 10px;
  }
  .content_2 h1 {
    margin-bottom: 10px;
  }
  .content_2 img {
    margin: auto;
  }
  .content_2 h3 {
    text-align: center;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 90%;
  }
  .content_3_xs .p_5 {
    padding-top: 15px;
  }
  .content_4_xs p {
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 1px 14px -5px #807080;
    -moz-box-shadow: 1px 1px 14px -5px #807080;
    box-shadow: 1px 1px 14px -5px #807080;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
  }
  .content_5 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_5 p {
    text-align: center;
  }
  .content_5 h1 {
    margin-bottom: 5px;
    margin-top: 0;
  }
  .content_5 h2 {
    margin-bottom: 0px;
  }
  .content_7 {
    margin-top: 10px;
  }
  .content_7 .design_xs p {
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
  }
  .content_7 .want_card {
    width: 90%;
    margin-top: 15px;
  }
  footer {
    text-align: center;
    background-size: cover;
  }
  footer ul {
    padding: 0;
    padding-top: 15px;
    margin: auto;
  }
  footer .logo_footer {
    padding-top: 25px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer h4 {
    padding-top: 20px;
  }
  footer p,
  footer h4 {
    margin: auto;
  }
  footer .icon_footer_1 {
    padding-left: 15px;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-top: 10px;
    padding-left: 0;
  }
  .content_7 .dropdown {
    width: 100% ;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  h1 {
    font-size: 27px;
  }
  .menu_xs .dropdown-toggle {
    background-color: #ffffff !important;
    margin-top: 20px;
    padding: 20px 50px;
  }
  .menu_xs .dropdown-menu a {
    font-size: 20px;
  }
  .menu_xs .dropdown-menu a:hover {
    color: #d8047e;
  }
  .menu_xs .logo_xs {
    margin-top: 10px;
    padding-left: 50px;
  }
  .menu_xs .menu_xs_row {
    background-color: #ff0072;
    padding-bottom: 10px;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 90%;
  }
  .content_1 {
    margin-top: 20px;
  }
  .content_1 h1 {
    margin-bottom: 15px;
  }
  .content_1 h2,
  .content_1 h3 {
    text-align: center;
  }
  .content_1 h2 {
    margin-top: 10px;
  }
  .content_1 img {
    margin: auto;
  }
  .content_2 {
    margin-top: 5px;
    padding-bottom: 15px;
  }
  .content_2 h3 {
    margin-bottom: 10px;
  }
  .content_2 h1 {
    margin-bottom: 10px;
  }
  .content_2 img {
    margin: auto;
  }
  .content_2 h3 {
    text-align: center;
  }
  .content_3_xs .p_5 {
    padding-top: 15px;
  }
  .content_3_xs img {
    margin: auto;
  }
  .content_4_xs p {
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 1px 14px -5px #807080;
    -moz-box-shadow: 1px 1px 14px -5px #807080;
    box-shadow: 1px 1px 14px -5px #807080;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
  }
  .content_5 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_5 p {
    text-align: center;
  }
  .content_5 h1 {
    waamargin-bottom: 5px;
    margin-top: 0;
  }
  .content_5 h2 {
    margin-bottom: 0px;
  }
  .content_7 .dropdown {
    width: 100% ;
    margin: 0;
    padding: 0;
  }
  .content_7 .design_xs p {
    font-family: 'RobotoRegular';
    font-size: 20px;
  }
  .content_7 {
    margin-top: 10px;
  }
  .content_7 .design_xs p {
    text-align: center;
    padding-top: 8px;
  }
  .content_7 .want_card {
    width: 90%;
    margin-top: 15px;
  }
  footer {
    text-align: center;
    background-size: cover;
  }
  footer ul {
    padding: 0;
    padding-top: 15px;
    margin: auto;
  }
  footer .logo_footer {
    padding-top: 25px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer h4 {
    padding-top: 20px;
  }
  footer p,
  footer h4 {
    margin: auto;
  }
  footer .icon_footer_1 {
    padding-left: 15px;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-top: 10px;
    padding-left: 0;
  }
  .icon_footer {
    padding-left: 30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  .menu_xs .dropdown-toggle {
    background-color: #ffffff !important;
    margin-top: 20px;
    padding: 20px 50px;
  }
  .menu_xs .dropdown-menu a {
    font-size: 20px;
  }
  .menu_xs .dropdown-menu a:hover {
    color: #d8047e;
  }
  .menu_xs .logo_xs {
    margin-top: 10px;
    padding-left: 50px;
  }
  .menu_xs .menu_xs_row {
    background-color: #ff0072;
    padding-bottom: 10px;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 90%;
    margin-left: 5%;
  }
  .content_1 {
    margin-top: 20px;
  }
  .content_1 h1 {
    margin-bottom: 15px;
  }
  .content_1 h2,
  .content_1 h3 {
    text-align: center;
  }
  .content_1 h2 {
    margin-top: 10px;
  }
  .content_1 img {
    margin: auto;
  }
  .content_2 {
    margin-top: 5px;
    padding-bottom: 15px;
  }
  .content_2 h3 {
    margin-bottom: 10px;
  }
  .content_2 h1 {
    margin-bottom: 10px;
  }
  .content_2 h3 {
    text-align: center;
  }
  .content_2 img {
    margin: auto;
  }
  .content_3_xs .p_5 {
    padding-top: 15px;
  }
  .content_3_xs img {
    margin: auto;
  }
  .content_4_xs p {
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 1px 14px -5px #807080;
    -moz-box-shadow: 1px 1px 14px -5px #807080;
    box-shadow: 1px 1px 14px -5px #807080;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
  }
  .content_5 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_5 p {
    text-align: center;
  }
  .content_5 h1 {
    waamargin-bottom: 5px;
    margin-top: 0;
  }
  .content_5 h2 {
    margin-bottom: 0px;
  }
  .content_7 .dropdown {
    width: 100% ;
  }
  .content_7 {
    margin-top: 10px;
  }
  .content_7 .design_xs p {
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
  }
  .content_7 .want_card {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
  }
  footer {
    text-align: center;
    background-size: cover;
  }
  footer ul {
    padding: 0;
    padding-top: 15px;
    margin: auto;
  }
  footer .logo_footer {
    padding-top: 25px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer h4 {
    padding-top: 20px;
  }
  footer p,
  footer h4 {
    margin: auto;
  }
  footer .icon_footer_1 {
    padding-left: 15px;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-top: 10px;
    padding-left: 0;
  }
  .icon_footer {
    padding-left: 15%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    padding-bottom: 50px;
    background: url(../img/header_bg.png) no-repeat;
    background-size: cover;
  }
  header .logotype {
    margin-top: 35px;
  }
  header .menu {
    margin-top: 25px;
    font-size: 12px;
    text-transform: uppercase;
  }
  header .menu a {
    margin-left: 2px;
    padding-bottom: 15px;
    margin-top: 0px;
  }
  header .menu a:hover {
    padding-bottom: 5px;
    border-bottom: 8px solid #454141;
    -moz-transition: all  0.1s 0.02s ease;
    -o-transition: all  0.1s 0.02s ease;
    -webkit-transition: all 0.1s 0.02s ease;
  }
  header .phone_number {
    margin-top: 15px;
  }
  header .phone_number button {
    border: none;
    border-radius: 20px;
    background: #e20467;
    color: #ffffff;
    width: 190px;
    height: 40px;
  }
  header .phone_number button:hover {
    -webkit-box-shadow: 0px 10px 51px 14px #b3a8b3;
    -moz-box-shadow: 0px 10px 51px 14px #b3a8b3;
    box-shadow: 0px 10px 51px 14px #b3a8b3;
  }
  header .phone_number .phone:before {
    content: '';
    width: 17px;
    height: 25px;
    background: url(../img/ic_phone.png) no-repeat center top 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.7em;
  }
  header button img {
    display: none;
  }
  header button:hover img {
    display: block;
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
  }
  .content_2 .submit_with_action {
    margin-top: 20px;
  }
  .content_4 .col-md-12 {
    padding: 0;
  }
  .content_4 .order_card li {
    margin-top: 20px;
    padding: 2px;
  }
  .content_4 .order_card li:nth-child(2),
  .content_4 .order_card li:nth-child(3),
  .content_4 .order_card li:nth-child(4) {
    padding-top: 24px;
    margin-top: 0;
  }
  .content_4 button {
    margin-top: 10px;
    margin-left: 295px;
  }
  .content_5 h1 {
    margin-top: 20px;
  }
  .content_5 h1,
  .content_5 h2 {
    margin-bottom: 10px;
  }
  .content_5 img {
    margin-top: 40px;
  }
  .content_7 .dropdown {
    width: 100% ;
  }
  .content_6 {
    margin-bottom: 10px;
  }
  .content_7 .forms_get_card {
    padding-top: 20px;
  }
  .content_7 .want_card {
    width: 98%;
    margin-top: 20px;
  }
  .content_7 .design {
    font-family: 'RobotoRegular';
    font-size: 25px;
    margin-top: 260px;
    margin-left: 190px;
  }
  footer {
    background: url('../img/footer_bg.png') no-repeat center top;
    background-size: cover;
  }
  footer .logo_footer {
    padding-left: 0;
  }
  footer .icon_footer_1 {
    padding-left: 0;
  }
  footer .copyright,
  footer .cosmoweb {
    padding-left: 0;
    padding-top: 50px;
  }
  footer ul {
    padding-left: 0;
  }
  .forms_get_accsses input[name="name_accsses"],
  .forms_get_accsses input[name="phone_accsses"],
  .forms_get_accsses input[name="email_accsses"] {
    margin-bottom: 10px;
  }
  .forms_get_accsses button {
    width: 100%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  header {
    /*.menu {
    a {margin-left: 10px; padding-bottom: 15px;
    }
    a:last-child{
		padding-bottom: 0px;
    	    } 

margin-top: 55px;
 font-size: 12px;
  text-transform: uppercase; 
a:hover {
	padding-bottom: 5px;
    border-bottom:8px solid #454141;
    -moz-transition: all  0.1s 0.02s ease;
    -o-transition: all  0.1s 0.02s ease;
    -webkit-transition: all 0.1s 0.02s ease;
}
} */
  }
  header .menu {
    margin-top: 35px;
    font-size: 12px;
    text-transform: uppercase;
  }
  header .menu a {
    margin-left: 2px;
    padding-bottom: 15px;
    margin-top: 25px;
  }
  header .menu a:hover {
    padding-bottom: 5px;
    border-bottom: 8px solid #454141;
    -moz-transition: all  0.1s 0.02s ease;
    -o-transition: all  0.1s 0.02s ease;
    -webkit-transition: all 0.1s 0.02s ease;
  }
  .content_2 .arrow {
    position: absolute;
    top: 60px ;
  }
  .content_3 .card_main {
    position: absolute;
    left: 6px;
  }
  .content_3 .line_4,
  .content_3 .line_4c,
  .content_3 .line_8,
  .content_3 .line_8c {
    top: -20px;
  }
  .content_3 .p_4,
  .content_3 .p_8 {
    top: 20px;
    position: absolute;
  }
  .content_4 button {
    margin-left: 7px;
  }
  .content_4 li:last-child {
    margin-top: 10px;
  }
  .content_5 h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content_5 h2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .content_7 .design {
    margin-top: 100px;
    left: 66px;
  }
  .content_7 .img_arrow {
    padding-left: 435px;
  }
  footer {
    background: url('../img/footer_bg.png') no-repeat center top;
    background-size: cover;
  }
  .forms_get_accsses button {
    width: 230px;
  }
}
