body {
	padding: 50px;
	margin: 50px;
}

.wrapper {
	width: 1000px;
	position: absolute;
}


.popup {
	transition: all 0.3s ease;
  width:100%;
  height:100%;
  display: block;
  position: absolute;
  top:0px;
  left:0px;
}

.popup-inner {
	transition: all 0.3s ease;
	z-index: 1;
	opacity: 0;
	width:15%;
	padding:10px;
	position: relative;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	border-radius:3px;
	text-align: center;
} 

.popup-inner a {
	text-decoration: none;
	height: inherit;
	width: inherit;
}

.popup-inner h1 {
	background: #DE2891;
	border-radius: 3px;
	color: #fff;
	transition: all 0.3s ease;
	width: 100%;
	font-size: 1.8vw;
	margin: 0;
}

.popup-inner h1:hover {
	transform: scale(1.05);
}

.popup-inner img {
	width: 100%;
}


#ryleigh .popup-inner {
	top:25%;
	left:75%;
}


#izzy .popup-inner {
	top:20%;
	left:50%;
}

#sunny .popup-inner {
	top:75%;
	left:80%;
}

#mckinley .popup-inner {
	top:75%;
	left:40%;
}

#jada .popup-inner {
	top:45%;
	left:25%;
}
  