body {
	padding: 0px;
	margin: 0px;
}

.wrapper {
	width: 900px;
}

#ralphproperty {
	opacity: 0;
	margin: 0 auto;
  width: 100%;
}

#hoverbutton {
	margin: 10px 10px;
	padding: 5px 10px;
	background-color: red;
	border-radius: 5px;
}
