/*============    ШРИФТИ    ===========*/

@font-face {
	font-family: 'Intro';
	src: url('fonts/Intro-Regular.eot');
	src: url('fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Intro-Regular.woff') format('woff'),
		url('fonts/Intro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Uni Sans Heavy CAPS';
	src: url('fonts/UniSansHeavyCAPS.eot');
	src: url('fonts/UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
		url('fonts/UniSansHeavyCAPS.woff') format('woff'),
		url('fonts/UniSansHeavyCAPS.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

.unisans{font-family: 'Uni Sans Heavy CAPS';}
.intro {	font-family: 'Intro';}

/*==================================================================================================================*/

.about_us{
	padding-top: 75px;

	padding-bottom: 80px;
	max-width: 860px;

	.about_title{
		.intro;
		font-size: 22px;
		color:rgb(20,57,73);
	}
	.about_title_text{
		color:rgb(42,42,42);
		font-size: 15px;
		.unisans;
		text-transform: uppercase;
		font-weight: bold;
	}


	.h_about{
		color: rgb(49,88,118);
		font-size: 30px;
	}
	

	.about_us_img_1{
		 background: url("../img/about_us_1.png") no-repeat top 20px center ;
		 width: 260px;
		 height: 260px; 
		 margin-right: 40px;
		 background-color: rgb(229,229,229);
		 margin-bottom: 20px;

	}
	.about_us_img_2{
		 background: url("../img/about_us_2.png") no-repeat top 20px center ;
		 width: 260px;
		 height: 260px; 
		 margin-right: 40px;
		 background-color: rgb(229,229,229);
		 margin-bottom: 20px;
	}
	.about_us_img_3{
		 background: url("../img/about_us_3.png") no-repeat top 20px center ;
		 width: 260px;
		 height: 260px; 
		 background-color: rgb(229,229,229);
		 margin-bottom: 20px;

	}

		.about_us_img_4{
		 background: url("../img/about_us_4.png") no-repeat top 20px center ;
		 width: 260px;
		 height: 260px; 
		 margin-right: 40px;
		 background-color: rgb(229,229,229);
	}
		.about_us_img_5{
		 background: url("../img/about_us_5.png") no-repeat top 20px center ;
		 width: 260px;
		 height: 260px; 
		 margin-right: 40px;
		 background-color: rgb(229,229,229);
		 padding-left: 3px;
	}
		.about_us_img_6{
		  background: url("../img/about_us_6.png") no-repeat top 20px center ;
		 width: 260px;
		 height: 260px; 
	
		 background-color: rgb(229,229,229);
	}
 h2{

 	padding-top: 130px;

 }


.h_about {
	padding-top: 35px;
}


}